<md-toolbar class="md-primary md-whiteframe-z3"">
  <div class="md-toolbar-tools">
    <md-button  layout="row" layout-align="start center" ui-sref="layout_small.settings">
      <i class="mdi mdi-arrow-left"></i>
      {{'ChangePW' | translate}}
    </md-button>
    <span flex></span>
    <md-button ng-click="confirm()">
      <i class="mdi mdi-check"></i>
    </md-button>
  </div>
</md-toolbar>

<md-content class="md-padding">
  <md-input-container>
    <label>{{'OldPW' | translate}}</label>
    <input type="password" ng-model="user.oldPW">
  </md-input-container>
  <md-input-container>
    <label>{{'NewPW' | translate}}</label>
    <input type="password" ng-model="user.newPW">
  </md-input-container>
  <md-input-container>
    <label>{{'ConfirmNewPW' | translate}}</label>
    <input type="password" ng-model="user.confirmNewPW">
  </md-input-container>
</md-content>

