<md-toolbar>
  <div class="md-toolbar-tools md-whiteframe-z3">
      <md-button layout="row" layout-align="start center" ui-sref="layout_2screens.contacts">
        <i class="mdi mdi-arrow-left"></i>
      </md-button>
    <img class="logo" src="images/hwr_quadrat.png">
    {{chat.name}}
    <span flex></span>
    <lx-dropdown position="right" >
      <button class="btn btn--m btn--white btn--icon" lx-ripple lx-dropdown-toggle>
        <i class="mdi mdi-dots-vertical"></i>
      </button>
      <lx-dropdown-menu>
        <ul>
          <li ng-click="leaveChat()"><a class="dropdown-link">Chat verlassen</a></li>
          <li ng-click="renameChat()"><a class="dropdown-link">Chat umbenennen</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-link" ui-sref="layout_small.settings">Einstellungen</a></li>
        </ul>
      </lx-dropdown-menu>
    </lx-dropdown>
  </div>
</md-toolbar>

<div style="position:absolute; top:64px; bottom:76px;" ng-style="{'width' : (isMobile ? '100%' : '66%')}" scrollable>
  <div ng-repeat="message in messages" layout="row" layout-align="center end">
    <div flex flex-order="{{message.senderID==userID ? '1': '3'}}" style="padding:20px;"
         ng-style="{'text-align': (message.senderID==userID ? 'right' : 'left')}">
      {{message.timestamp | date:'HH:mm'}}
    </div>
    <md-content flex="66" flex-order="2" class="md-whiteframe-z1" style="padding:10px; margin: 10px 10px"
                ng-attr-id="{{($last ? 'last_message': '')}}">
      <div ng-bind-html="message.content | emoticons" style="word-wrap: break-word;"></div>
    </md-content>
  </div>

  <md-content>
    <h3>Emojis</h3>
    <div ng-bind-html="emoji | emoticons:{'linkTarget':'_blank','newLine':true}" class="ng-emoticons" ng-click="emojiToMessage(emoji)"></div>
  </md-content>

</div>


<div style="position:absolute; bottom: 0; " ng-style="{'width' : (isMobile ? '100%' : '66%')}"
            flex="100" class="md-whiteframe-z3">
  <form ng-submit="send()">
    <md-content>
          <md-input-container>
            <label>{{'Message' | translate}}</label>
            <textarea ng-model="messageText"></textarea>
          </md-input-container>
          <md-button class="md-primary md-fab md-fab-bottom-right" aria-label="FAB">
            <i class="mdi mdi-send"></i>
          </md-button>
    </md-content>
  </form>
</div>

