<md-toolbar>
  <div class="md-toolbar-tools md-whiteframe-z3">
      <md-button layout="row" layout-align="start center" ui-sref="layout_2screens.contacts">
        <i class="mdi mdi-arrow-left"></i>
      </md-button>
    <img class="logo" src="images/hwr_quadrat.png">
    {{chat.name}}
    <span flex></span>
    <lx-dropdown position="right" >
      <button class="btn btn--m btn--white btn--icon" lx-ripple lx-dropdown-toggle>
        <i class="mdi mdi-dots-vertical"></i>
      </button>
      <lx-dropdown-menu>
        <ul>
          <li ng-click="leaveChat()"><a class="dropdown-link">Chat verlassen</a></li>
          <li ng-click="renameChat()"><a class="dropdown-link">Chat umbenennen</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-link" ui-sref="layout_small.settings">Einstellungen</a></li>
        </ul>
      </lx-dropdown-menu>
    </lx-dropdown>
  </div>
</md-toolbar>
<div style="position:absolute; top:64px; bottom:160px" ng-style="{'width' : (isMobile ? '100%' : '66%')}" scrollable>
  <div ng-repeat="message in messages" layout="row" layout-align="center end">
    <div flex flex-order="{{message.accountId==userID ? '1': '3'}}"
         ng-style="{'text-align': (message.accountId==userID ? 'right' : 'left')}">
    </div>
    <md-content flex="66" flex-order="2" class="md-whiteframe-z1" style="padding:10px; margin: 10px 10px"
                ng-attr-id="{{($last ? 'last_message': '')}}">
      <b color= "#FF0000"><account account="accounts[message.accountId]"></account></b>
      <div ng-bind-html="message.content | emoticons" style="word-wrap: break-word;"></div>
      <md-divider></md-divider>
      {{message.createdAt | date:'HH:mm'}}
    </md-content>
  </div>

<!--  <md-content>
    <h3>Emojis</h3>
    <div ng-bind-html="emoji | emoticons:{'linkTarget':'_blank','newLine':true}" class="ng-emoticons" ng-click="emojiToMessage(emoji)"></div>
  </md-content>-->

</div>


<div style="position:absolute; bottom: 0; " ng-style="{'width' : (isMobile ? '100%' : '66%')}"
            flex="100" class="md-whiteframe-z3">
  <form>
    <md-content class="md-padding">
      <div layout="row" layout-wrap >
        <div flex="100" >
          <md-input-container>
            <label>{{'Message' | translate}}</label>
            <textarea ng-model="messageText" ng-enter="send()"></textarea>
          </md-input-container>
        </div>
        <div layout-align="center left">
          <md-button class="md-fab md-mini md-warn" ng-disabled="true">
            <i class="mdi mdi-attachment"></i>
          </md-button>
          <md-button class="md-fab md-mini md-warn" ng-click="showEmojis()">
            <i class="mdi mdi-emoticon-devil"></i>
          </md-button>
        </div>
        <div flex>
          <!--TODO: Liste mit letzten Emojis-->
        </div >
        <div layout-align="center right">
          <md-button class="md-raised md-warn" ng-click="send()">
            Senden
          </md-button>
        </div>
      </div>
    </md-content>
  </form>
</div>

