<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-open="false"
            ng-include="'views/sidenav.html'"></md-sidenav>

<md-toolbar xmlns="http://www.w3.org/1999/html">
  <div class="md-toolbar-tools md-whiteframe-z4">
    <img class="logo" src="images/hwr_quadrat.png"> HWR-Chat
    <span flex></span>
    <md-button ng-click="openSideNav()">
      <i class="mdi mdi-menu" ></i>
    </md-button>
  </div>
</md-toolbar>
<div>
  <md-button class="md-primary md-fab md-fab-bottom-left" aria-label="FAB" ui-sref="layout_small.newchat">
    <!--ng-click="showNewChat($event)"> -->
    <i class="mdi mdi-pencil"></i>
  </md-button>
</div>
<md-content style="position:absolute; top:64px; bottom:0" ng-style="{'width' : (isMobile ? '100%' : '33%')}" scrollable>

  <div flex-item="6" class="mt++">
    <div class="divider divider&#45;&#45;dark"></div>
    <ul class="list mt++" ng-repeat="chat in chats">
      <button class="btn btn&#45;&#45;m btn&#45;&#45;blue btn&#45;&#45;flat" lx-ripple>
      <li class="list-row list-row&#45;&#45;has-separator" ui-sref="layout_2screens.chat({id: chat.id})">
        <div class="list-row__primary">
          <img src="/images/yeoman.png" width="40" height="40" class="img-round">
        </div>
        <div class="list-row__content">
          <span class="display-block">{{chat.name}}</span>
          <span class="display-block fs-body-1 tc-black-2">{{chat.timestamp}}</span>
        </div>
      </li>
      </button>
      <div class="divider divider&#45;&#45;dark"></div>
    </ul>
  </div>
</md-content>


<!--<md-content >
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="chat in chats">
      <md-button style="width: 100%">
      <img src="/images/yeoman.png" width="40" height="40" class="img-round">
      <div class="md-list-item-text">
        <h3>{{chat.name}}</h3>
        <p>{{chat.timestamp}}</p>
      </div>
      </md-button>
      <md-divider></md-divider>
    </md-list-item>

  </md-list>
</md-content>-->



