<md-toolbar class="md-primary md-whiteframe-z3">
  <div class="md-toolbar-tools">
    <md-button layout="row" layout-align="start center" ui-sref="layout_small.login">
      <md-icon>arrow_back</md-icon>
      {{'ForgotPW' | translate}}
    </md-button>
    <span flex></span>
    <md-button ng-click="sendResetPasswordMail()">
      <md-icon>check</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content class="md-padding">
  <md-input-container style="width: 100%">
    <label>{{'Email' | translate}}</label>
    <input type="email" ng-model="user.email">
  </md-input-container>
</md-content>
