<md-toolbar class="md-primary md-whiteframe-z3"" >
  <div class="md-toolbar-tools">
    <md-button layout="row" layout-align="start center" ui-sref="layout_small.newchat">
      <i class="mdi mdi-arrow-left"></i>
      {{'NewGroup' | translate}}
    </md-button>
    <span flex></span>
    <md-button layout="row" layout-align="start center" ng-click="submit()">
      <i class="mdi mdi-check"></i>
    </md-button>
  </div>
</md-toolbar>

<md-input-container>
  <label>Gruppenname</label>
  <input type="text" ng-model="name" required>
</md-input-container>

<md-chips ng-model="selectedAccounts" md-autocomplete-snap md-require-match="true">
  <md-autocomplete
    md-selected-item="ctrl.selectedItem"
    md-search-text="searchText"
    md-items="item in loadAccounts(searchText)"
    md-no-cache="true"
    md-item-text="item.firstname"
    placeholder="Nutzer suchen...">
    <span md-highlight-text="ctrl.searchText">{{item.firstname}} {{item.lastname}}</span>
  </md-autocomplete>
  <md-chip-template>
        <span>
          {{$chip.firstname}} {{$chip.lastname}}
        </span>
  </md-chip-template>
</md-chips>
