<md-toolbar class="md-primary md-whiteframe-z3"" >
  <div class="md-toolbar-tools">
    <md-button layout="row" layout-align="start center" ui-sref="layout_small.newchat">
      <i class="mdi mdi-arrow-left"></i>
      {{'NewGroup' | translate}}
    </md-button>
    <span flex></span>
    <md-button layout="row" layout-align="start center" ui-sref="layout_small.groupname">
      <i class="mdi mdi-check"></i>
    </md-button>
  </div>
</md-toolbar>
<md-content>
<label  layout="row" layout-align="center center" >{{selectedUser.name}}</label>
</md-content>
<md-content>
  <md-input-container>
    <label>{{'Search' | translate}}</label>
    <input type="text" ng-model="query">
  </md-input-container>
</md-content>

<md-list>
  <div ng-repeat="contact in contacts | filter:query">
    <md-list-item>
      <md-button  style="width:100%" ng-click="addContactToGroup(contact)">
        <div class="md-list-item-text">
          <h4>{{contact.firstname +" "+ contact.lastname}}</h4>
        </div>
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>
