<md-toolbar class="md-primary md-whiteframe-z3"">
  <div class="md-toolbar-tools">
    <md-button layout="row" layout-align="start center" ng-click="cancel()">
      <i class="mdi mdi-arrow-left"></i>
      {{'RenamedChatName' | translate}}
    </md-button>
    <span flex></span>
    <md-button ng-click="rename()">
      <i class="mdi mdi-check"></i>
    </md-button>
  </div>
</md-toolbar>
<form ng-submit="rename()">
  <md-content>
    <md-input-container>
      <label>{{'RenamedChatName' | translate}}</label>
      <input type="text" ng-model="chat.name">
    </md-input-container>
  </md-content>
</form>
