<md-menu-content>
  <md-menu-item>
    <md-button ui-sref="layout_small.newchat">
      <md-icon>comment</md-icon> {{'NewChat' | translate}}
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ui-sref="layout_small.settings">
      <md-icon>settings</md-icon> {{'Settings' | translate}}
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ui-sref="layout_small.info">
      <md-icon>info</md-icon> {{'LegalInfo' | translate}}
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="logout()">
      <md-icon>cloud_off</md-icon> {{'LogOut' | translate}}
    </md-button>
  </md-menu-item>
</md-menu-content>
