<md-content class="md-padding">
<md-button  style="width:90%" ui-sref="layout_small.newchat"><i class="mdi icon--l mdi-comment-text" ></i>{{'NewChat' | translate}}
</md-button>
<md-divider></md-divider>
<md-button style="width:90%"  ui-sref="layout_small.settings"><i class="mdi icon--l mdi-settings"  ></i>{{'Settings' | translate}}
</md-button>
  <md-divider></md-divider>
  <md-button style="width:90%"  ui-sref="layout_small.info"><i class="mdi icon--l mdi-information" ></i>{{'LegalInfo' | translate}}
  </md-button>
<md-divider></md-divider>
<md-button style="width:90%"  ng-click="logout()"><i class="mdi icon--l mdi-logout" ></i>{{'LogOut' | translate}}
</md-button>
</md-content>
